## EDA

In [1]:
import pandas as pd
from tqdm import tqdm

In [2]:
log_data = pd.read_csv('data/view_log.csv')
article_data = pd.read_csv('data/article_info.csv')

In [26]:
logs = log_data.copy()
articles = article_data.copy()

In [27]:
logs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42717 entries, 0 to 42716
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   userID       42717 non-null  object
 1   articleID    42717 non-null  object
 2   userRegion   42717 non-null  object
 3   userCountry  42717 non-null  object
dtypes: object(4)
memory usage: 1.3+ MB

In [28]:
articles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3008 entries, 0 to 3007
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   articleID    3008 non-null   object
 1   Title        3008 non-null   object
 2   Content      3008 non-null   object
 3   Format       3008 non-null   object
 4   Language     3008 non-null   object
 5   userID       3008 non-null   object
 6   userCountry  659 non-null    object
 7   userRegion   657 non-null    object
dtypes: object(8)
memory usage: 188.1+ KB

In [29]:
# 데이터에 대한 정보 
print(f"총 유저는 몇 명인지? : {logs['userID'].nunique()}")
print(f"총 기사의 수는 몇 개인지? : {logs['articleID'].nunique()}")
print(f"유저의 살고 있는 지역은 몇 개인지? : {logs['userRegion'].nunique()}")
print(f"유저가 살고 있는 나라는 몇 개인지? : {logs['userCountry'].nunique()}")

총 유저는 몇 명인지? : 1415
총 기사의 수는 몇 개인지? : 2879
유저의 살고 있는 지역은 몇 개인지? : 56
유저가 살고 있는 나라는 몇 개인지? : 21

In [30]:
# 데이터에 대한 정보 
print(f"총 유저는 몇 명인지? : {articles['userID'].nunique()}")
print(f"총 기사의 수는 몇 개인지? : {articles['articleID'].nunique()}")
print(f"기사의 개수? : {articles['Title'].nunique()}")
# print(f"유저가 살고 있는 나라는 몇 개인지? : {article['Content'].nunique()}")

총 유저는 몇 명인지? : 251
총 기사의 수는 몇 개인지? : 3008
기사의 개수? : 3008

article info의 유저의 수와 view log의 유저의 수가 다르다? 

*view_log에 포함되지 않은 유저가 존재할 수 있으며, 해당 유저는 추천의 대상이 되지 않음

*view log는 학습 데이터이며 해당 데이터에 존재하는 유저만 추천의 대상이 됨

In [31]:
logs = logs[['userID','articleID']]
articles = articles[['articleID', "Title","Content"]]

In [32]:
logs.head()

      userID     articleID
0  USER_0000  ARTICLE_0661
1  USER_0000  ARTICLE_2316
2  USER_0000  ARTICLE_1345
3  USER_0000  ARTICLE_1089
4  USER_0000  ARTICLE_1484

In [33]:
articles

,articleID,Title,Content
0,ARTICLE_0000,19 Tips For Everyday Git Use,I've been using git full time for the past 4 y...
1,ARTICLE_0001,Intel buys computer vision startup Itseez to i...,Intel has acquired computer vision and machine...
2,ARTICLE_0002,Practical End-to-End Testing with Protractor,One of the reasons AngularJS is so great to wo...
3,ARTICLE_0003,Corporate venture growth in Brazil is another ...,Despite recent positive news and a renewed int...
4,ARTICLE_0004,Cross-channel user experiences with Drupal (aw...,"Last year around this time, I wrote that The B..."
...,...,...,...
3003,ARTICLE_3003,Como consumir conteúdo de qualidade em iOS - C...,"Quando iniciei minha jornada em Swift, saindo ..."
3004,ARTICLE_3004,Aurelia 1.0 is Here!!!,It's been an amazing journey to get here and i...
3005,ARTICLE_3005,Lessons from converting an app to 100% Kotlin ...,This is part one in a series of posts about Ko...
3006,ARTICLE_3006,ITA está oferecendo 10 cursos gratuitos a dist...,"O Instituto Tecnológico de Aeronáutica (ITA) ,..."
3007,ARTICLE_3007,Analytics startup Amplitude raises $15M,Amplitude announced this morning that it has r...

In [34]:
#0815 코드 추가 
print(len(logs))
print(len(articles))
merge_data = pd.merge(logs, articles, on='articleID', how='inner')

42717
3008

In [35]:
merge_data

,userID,articleID,Title,Content
0,USER_0000,ARTICLE_0661,Facebook says its new AI is almost as good as ...,Facebook has developed a new AI called DeepTex...
1,USER_0067,ARTICLE_0661,Facebook says its new AI is almost as good as ...,Facebook has developed a new AI called DeepTex...
2,USER_0414,ARTICLE_0661,Facebook says its new AI is almost as good as ...,Facebook has developed a new AI called DeepTex...
3,USER_0557,ARTICLE_0661,Facebook says its new AI is almost as good as ...,Facebook has developed a new AI called DeepTex...
4,USER_1163,ARTICLE_0661,Facebook says its new AI is almost as good as ...,Facebook has developed a new AI called DeepTex...
...,...,...,...,...
42712,USER_1420,ARTICLE_0714,Sponsored: Five reasons why retailers should o...,Unsupported browser For a better experience pl...
42713,USER_1420,ARTICLE_1711,Automação de Marketing: o seu negócio está pro...,A automação de marketing está ai para todos? D...
42714,USER_1420,ARTICLE_1732,Digital Tool as Strategic Enabler for Banking ...,"By Brian Pallas , founder and CEO of Opportuni..."
42715,USER_1420,ARTICLE_1732,Digital Tool as Strategic Enabler for Banking ...,"By Brian Pallas , founder and CEO of Opportuni..."
42716,USER_1420,ARTICLE_1732,Digital Tool as Strategic Enabler for Banking ...,"By Brian Pallas , founder and CEO of Opportuni..."

In [36]:
#merge_data.to_csv('data/merge_data.csv')

In [38]:
merge_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42717 entries, 0 to 42716
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   userID     42717 non-null  object
 1   articleID  42717 non-null  object
 2   Title      42717 non-null  object
 3   Content    42717 non-null  object
dtypes: object(4)
memory usage: 1.6+ MB

In [40]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# sklearn에서 제공하는 tfidf 클래스 로드
tfidf_vector = TfidfVectorizer()

# tfidf로 임베딩
tfidf_matrix = tfidf_vector.fit_transform(merge_data['Content']).toarray()

# 장르와 키워드를 합친 텍스트이외 장르, 키워드만 활용가능
# tfidf_matrix = tfidf_vector.fit_transform(movie_data['genres']).toarray()
# tfidf_matrix = tfidf_vector.fit_transform(movie_data['keyword']).toarray()

# 임베딩된 도큐먼트(단어)들을 리스트로 할당
# ex) tfidf_matrix_feature = ["comedy", "drama", "game", "best", "old"...]
tfidf_matrix_feature = tfidf_vector.get_feature_names_out()

# 임베딩을 데이터프레임으로 변경
tfidf_matrix = pd.DataFrame(tfidf_matrix, columns=tfidf_matrix_feature)

In [41]:
tfidf_matrix

,00,000,0000,000000,000000000001,0000000000400848,000001,000001000001,0001,000707,...,教える,易しいはず,楔形文字,美味しいはずだ,美味しいはずです,違いない,頭に来る,食べ物,食事中,건배
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42712,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42713,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42714,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42715,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42716,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# cosine 유사도 계산
cossim = cosine_similarity(tfidf_matrix)
cossim_df = pd.DataFrame(cossim)

# 유사도 높은 영화 반환
def top_k(target_title, matrix, items, k=10):
    rec_idx = matrix.loc[:,target_title].values.reshape(1,-1).argsort()[:,::-1].flatten()[1:k+1]
    rec_title = items.iloc[rec_idx, :].title.values
    rec_genre = items.iloc[rec_idx, :].genres.values
    return pd.DataFrame({'title': rec_title, 'genre': rec_genre})

# 죽은 시인의 사회 영화와 관련된 영화 추천
top_k('USER_0000', cossim_df, merge_data)