## EDA

In [1]:
import pandas as pd

In [3]:
train = pd.read_csv('data/view_log.csv')

In [4]:
train.head()

      userID     articleID userRegion userCountry
0  USER_0000  ARTICLE_0661         NY          US
1  USER_0000  ARTICLE_2316         NY          US
2  USER_0000  ARTICLE_1345         NY          US
3  USER_0000  ARTICLE_1089         NY          US
4  USER_0000  ARTICLE_1484         NY          US

In [5]:
# 결측치 없는지 확인
# 데이터는 총 42717개 

train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42717 entries, 0 to 42716
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   userID       42717 non-null  object
 1   articleID    42717 non-null  object
 2   userRegion   42717 non-null  object
 3   userCountry  42717 non-null  object
dtypes: object(4)
memory usage: 1.3+ MB

In [9]:
# 데이터에 대한 정보 
print(f"총 유저는 몇 명인지? : {train['userID'].nunique()}")
print(f"총 기사의 수는 몇 개인지? : {train['articleID'].nunique()}")
print(f"유저의 살고 있는 지역은 몇 개인지? : {train['userRegion'].nunique()}")
print(f"유저가 살고 있는 나라는 몇 개인지? : {train['userCountry'].nunique()}")

총 유저는 몇 명인지? : 1415
총 기사의 수는 몇 개인지? : 2879
유저의 살고 있는 지역은 몇 개인지? : 56
유저가 살고 있는 나라는 몇 개인지? : 21